*{
    margin: 0;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url(images/gwalior1.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 13px;
}
nav ul li a:hover{
    color: grey;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: rgb(52, 115, 137);
    font-size: 100px;
}
p{
    color: white;
    font-size: 11px;
    line-height: 15px;
}
button{
    width: 180px;
    color: bisque;
    font-size: 12px;
    padding: 12px 0px ;
    background: black;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
}
button:hover{
    color: cadetblue;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(images/gwalior\ fort\ top1.webp);
}
.card2{
    background-image: url(images/gwalior\ fort\ 2.webp);
}
.card3{
    background-image: url(images/gwalior\ fort\ 3.webp);
}
.card4{
    background-image: url(images/gwalior\ fort\ 4.jpg);
}
.card7{
    background-image: url(images/visiting\ hour.png);
}
.card8{
    background-image: url(images/monument\ inside.webp);
}
.card9{
    background-image: url(images/ticket-icon.png);
}

.card:hover{
    transform: translateY(-10px);
}

h5{
    color: rgb(235, 8, 8);
    text-shadow: 0 0 5px #999;
}

.card p{
    text-shadow: 0 0 15px #999;
    font-size: 8px;    
}

.content{
    height: 333px;
    text-align: center;
    background-image: url(images/gwalior\ content.jpg);
}

.content .card7{
    margin-top: 45px;
}

.content p{
    color: black;
}
.inner-footer{
    margin: 0;
    padding: 0;
    background-color: black;
}

.social-links{
    display: flex;

}

.social-links ul{
    display: flex;
    padding: 10px;
    width: 300px;
    height: 30px;
    margin: auto;
}

.social-items{
    list-style: none;
}

.social-items img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.social-items a{
    padding : 10px 20px;
    font-size: 35px;
    color: aquamarine;
    transition: all .25s;
}

.social-items a:hover{
    color: mediumaquamarine;
    transform: translateY(-10px);
}
.quick-links{
    display: flex;
    width: 560px;
    height: 48px;
    margin: auto;
    padding-top: 11px;
}

.quick-links ul{
    display: flex;
}

.quick-items{
    list-style: none;
}

.quick-items a{
    text-decoration: none;
    padding: 0px 15px;
    font-size: 20px;
    color: azure;
    transition: all .025s;
}

.quick-links a:hover{
    color: lightskyblue;
    transform: translateY(-10px);
}
.outer-footer{
    padding: 15px;
    text-align: center;
    color: beige;
    font-size: 18px;
    background-color: grey;
}